@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 100 1000;
        src: url('/SourceSans3-VariableFont_wght.ttf') format('truetype');
    }

    html {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

:root {
    background-color: #f4f4f4;
}
